<div class="text-center">
    <h1 class="text-3xl font-bold text-zinc-800 mb-4">
      Selamat datang ke User Dashboard
    </h1>
    <p class="text-lg font-semibold text-zinc-600">
      Hanya user yang boleh melihat halaman ini.
    </p>
</div>
